@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #555555;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: repeating-radial-gradient(#000000 0px, #000000 10px, #fff 10px, #fff 20px);
}

section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 64);
    font-size: 2em;
    text-align: center;
}

section h2 {
    color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
    width: 100%;
    -webkit-text-stroke: 2px black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 450px;
    height: 350px;
    background: #000;
    margin: 30px;
    transition: .5s;
}



/* Box animation starts... */
#box1 {
    opacity: 0;
    background: chartreuse;
    animation: blend1 .5s linear 0s 1;
}

@keyframes blend1 {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(-300px, 0);
    }
}

#box1.active {
    opacity: 1;
    animation: animate1 .5s ease 0s 1;
}

@keyframes animate1 {
    0% {
        opacity: 0;
        transform: translate(-300px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}






#box2 {
    opacity: 0;
    background: crimson;
    animation: blend2 .5s linear 0s 1;
}

@keyframes blend2 {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(300px, 0);
    }
}

#box2.active {
    opacity: 1;
    animation: animate2 .5s ease 0s 1;
}

@keyframes animate2 {
    0% {
        opacity: 0;
        transform: translate(300px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}




#box3 {
    opacity: 0;
    background: darkcyan;
    animation: blend3 .5s linear 0s 1;
}

@keyframes blend3 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-300px, -300px);
    }
}

#box3.active {
    opacity: 1;
    animation: animate3 .5s ease 0s 1;
}

@keyframes animate3 {
    0% {
        opacity: 0;
        transform: translate(-300px, -300px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}




#box4 {
    opacity: 0;
    background: darkorchid;
    animation: blend4 .5s linear 0s 1;
}

@keyframes blend4 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(300px, -300px);
    }
}

#box4.active {
    opacity: 1;
    animation: animate4 .5s ease 0s 1;
}

@keyframes animate4 {
    0% {
        opacity: 0;
        transform: translate(300px, -300px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}




#box5 {
    opacity: 0;
    background: deeppink;
    animation: blend5 .5s linear 0s 1;
}

@keyframes blend5 {
    0% {
        opacity: 1;
        transform: translate(0px, 0px) rotateX(0deg);
    }

    100% {
        opacity: 0;
        transform: translate(-300px, -300px) rotateX(-180deg);
    }
}

#box5.active {
    opacity: 1;
    animation: animate5 .5s linear 0s 1;
}

@keyframes animate5 {
    0% {
        opacity: 0;
        transform: translate(-300px, -300px) rotateX(-180deg);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px) rotateX(0deg);
    }
}





#box6 {
    opacity: 0;
    background: maroon;
    animation: blend6 .5s linear 0s 1;
}

@keyframes blend6 {
    0% {
        opacity: 1;
        transform: translate(0px, 0px) rotateX(0deg);
    }

    100% {
        opacity: 0;
        transform: translate(300px, -300px) rotateX(-180deg);
    }
}

#box6.active {
    opacity: 1;
    animation: animate6 .5s linear 0s 1;
}

@keyframes animate6 {
    0% {
        opacity: 0;
        transform: translate(300px, -300px) rotateX(-180deg);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px) rotateX(0deg);
    }
}
